<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles Estudiante</title>
</head>
<body>
    <h2>Detalle estudiante:</h2>
    <p>Nombre: {{estudiante.nombre}}</p>
    <p>Apellido: {{estudiante.apellido}}</p>
    <p>Email: {{estudiante.email}}</p>
    <a href="{% url 'estudiante_list' %}">Regresar a lista estudiantes</a>
</body>
</html>