{% extends 'ProyectoCoderApp/base.html' %}
{% load static %}

{% block tituloPagina %}
{{accion}} - App Coder
{% endblock %}

{% block contenidoPagina %}
<section class="bg-light py-5">
    <div class="container px-5">
        <h2>Formulario Curso:</h2>
        <br>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-header text-center">
                        {{accion}}
                    </div>
                    <div class="card-body">
                        
                        <form action="" method="post">
                            {% csrf_token %}
                        
                            <!-- <p>Curso: <input type="text" name="nombre" id="" maxlength="30"> </p>
                            <p>Comision: <input type="number" name="comision" id="" min="0"> </p> -->
                        
                            {{ form.as_p }}
                        
                            <input type="submit" class="btn btn-primary" value="{{accion}}">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}